#benefits {
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    .benefits_title {
        text-align: center;
        h1 {
            font-family: MomCakeBold;
            font-size: 2em;
        }
    }
    .icon {
        color: $gold;
        background-color: $gray;
        

      }
    .row {
        display: flex;
        gap: 5%;
        padding-top: 5%;
    }
    .column {
        flex: 33.33%;
    }
}