#contactus {
    padding: 100px;
    background-color: $gray;
    font-family: 'Roboto', sans-serif;
    h1 {
        font-size: 2em;
        font-family: MomCakeBold;
    }
    .form_row {
        display: flex;
        gap: 10%;
    }
    .form_column {
        flex: 20%;
    }
    .form_group {
        margin-bottom: 2%;
    }
    .submit_button {
        background-color: $deep_blue;
        border-color: $gold;
        width: 100%;
        height: 60px;
        margin-top: 5%;
    }

    /* Medium media devices laptops and tablets*/
    @media only screen and (max-width: 600px) {
        .form_row {
            display: block;
        }

        article {
            padding-bottom: 50px;
        }
        
   }

   /* Small devices and cellphone (max 455px) */
    @media only screen and (max-width: 455px) {
        padding: 90px 40px;
        text-align: center;
        .form-label {
            font-weight: 600;
        }
        .submit_button {
            margin-top: 40px;
            font-size: 1.2em;
        }
        
   }
}