#features {
    background-color: $gray;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    .features_title {
        text-align: center;
        h1 {
            font-family: MomCakeBold;
            font-size: 2em;
        }
    }
    .icon {
        color: $gold;
        margin-right: 10px;
      }
    .row {
        display: flex;
        gap: 5%;
        padding-top: 5%;
    }
    .column {
        flex: 50%;
    }
}