#features {
    background-color: $gray;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    .features_title {
        text-align: center;
        h1 {
            font-family: MomCakeBold;
            font-size: 2em;
        }
    }
    .icon {
        color: $gold;
        margin-right: 10px;
      }
    img {
        width: 100%;
        height: auto;
        
    }
    .row {
        display: flex;
        gap: 5%;
        padding-top: 5%;
    }
    li {
        padding-bottom: 5px;
    }
    .column {
        flex: 2;
    }


    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {
        .column {
            flex: 100%;
        }
        .features_image {
            display: none;
        }
   }
    /* Small devices (Cellphones, 455px and up) */
    @media only screen and (max-width: 455px) {
        padding: 100px 40px;
        p {
            display: none;
        }
   }
}