#whypriorityone {
    background-color: $deep-blue;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 950px;
    padding: 100px;
    position: relative;
    
    .row {
        display: flex;
        gap: 50px;
    }
    .column_text {
        flex: 50%;

        h1 {
          font-size: 2em; 
          text-align: center;
        }
        img {
            margin-top: -20px;
        }
        p {
          line-height: 1.5em;
          font-size: 1.2em;
        }
    }
    .column_image {
        flex: 50%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
}

#whypriorityone::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: white;
	border-right-color: white;
}
