#whypriorityone {
    background-color: $deep-blue;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 950px;
    padding: 100px;
    position: relative;
    
    .row {
        display: flex;
        gap: 50px;
    }
    .column {
        flex: 30%;
    }
    .column_text {
        h1 {
          font-size: 2em; 
          text-align: center;
        }
        img {
            margin-top: -20px;
        }
        p {
          line-height: 1.5em;
          font-size: 1.2em;
        }
    }
    .column_image {
        img {
            min-width: 50%;
            height: auto;
        }
    }


    /* Medium devices (landscape tablets, 992px and up) */
    @media only screen and (max-width: 992px) {
        height: auto;
   }
    /* Small devices (landscape tablets, 600px and up) */
    @media only screen and (max-width: 600px) {
        img{
            width: 200px;
        }
   }
    /* Small devices (landscape tablets, 455px and up) */
    @media only screen and (max-width: 455px) {
        padding: 100px 40px;
        .column_text h1 {
            font-size: 1.7em;
        }

        .column_image {
            padding-bottom: 70px;
        }
        img {
            margin: -30px 0;
            width: 100%;
            height: auto;
        }
        p {
            font-size: 1em;
        }
        p:nth-child(4) {
            display: none;
        }
        p:nth-child(8) {
            display: none;
        }
   }
    
}

#whypriorityone::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: white;
	border-right-color: white;
}
