#whygethelp {
  margin: 100px 65px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-family: MomCakeBold, sans-serif;
    text-align: center;
    font-size: 50px;
  }

  img {
    margin-top: -60px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .whygethelp_title {
    text-align: center;
    font-family: MomCakeBold;
    font-size: 1.7em;
  }

  .icon {
    color: $gold;
    margin-right: 10px;
  }

  li {
    font-size: 1.1em;
    line-height: 2em;
  }


  .row {
      display: flex; 
      gap: 120px;     
    }
      
  .column {
      flex: 50%;
    }
}