body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lato'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MomCakeBold';
  src: local('MomCake Bold'), url(./fonts/momcake-cufonfonts-webfont/MOMCAKE-Bold.woff) format('truetype');
}

@font-face {
  font-family: 'MomCakeThin';
  src: local('MomCake Thin'), url(./fonts/momcake-cufonfonts-webfont/MOMCAKE-Thin.woff) format('truetype');
}

